alembic==1.7.1
apispec==5.1.0
attrs==21.2.0
bcrypt==3.2.0
bidict==0.21.2
cffi==1.14.6
click==8.0.1
flasgger==0.9.5
Flask==2.0.1
Flask-DB==0.3.2
Flask-JWT-Extended==4.2.3
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.13.0
mistune==0.8.4
msgpack==1.0.2
neovim==0.3.1
psycopg==3.0b1
psycopg2==2.9.1
pycparser==2.20
PyJWT==2.1.0
pynvim==0.4.3
pyrsistent==0.18.0
python-dotenv==0.19.0
python-engineio==4.2.1
python-socketio==5.4.0
PyYAML==5.4.1
six==1.16.0
SQLAlchemy==1.4.23
SQLAlchemy-Utils==0.37.8
Werkzeug==2.0.1
